@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700,800,900');
h1 {
	font-family: 'Montserrat';
	font-weight: 600;
	letter-spacing: -2px;
	font-size: 2.5em;
	font-style: normal;
}

.Login {
	background: #000000;
	color: white;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.Login-button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: 600;
	background: #fea909;
	border-radius: 3em;
	height: 3em;
	font-size: 0.9em;
	width: 14em;
}

.Login-button:hover {
	cursor: pointer;
	background: #ffc14e;
}

.Login-logo {
	width: 6em;
	top: 25%;
}

.Login-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 3em 0;
}

.cls-1 {
	fill: #fea909;
}

.cls-2 {
	fill: #fff;
}

.cls-3 {
	stroke: #000;
	stroke-miterlimit: 10;
	stroke-width: 28px;
}
