@font-face {
	font-family: 'Montserrat';
	src: url('../../assets/fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
h1 {
	font-family: 'Montserrat';
	letter-spacing: -3px;
	font-size: 2.3em;
}

.Login {
	background: transparent;
	font-weight: bolder;
	color: white;
	height: calc(100vh - 2.5em);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: url('../../assets/bg.png');
}

.Login-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.5em;
}

.Login-button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: 600;
	background: #fea909;
	border-radius: 3em;
	height: 3em;
	font-size: 0.9em;
	width: 18em;
	margin: 3em 0 3em 0;
}

.Login-button:hover {
	background: #ffc14e;
}

.Login-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 0 0.5em;
}
.cls-1,
.cls-2 {
	fill: #000;
}
.cls-2 {
	stroke: #000;
	stroke-miterlimit: 10;
	stroke-width: 28px;
}

.cls-3 {
	fill: #fff;
}
