.Keyboard {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* .Keyboard-title {
	color: white;
	z-index: 2;
	position: absolute;
	font-weight: 500;
	user-select: none;
	padding-bottom: 2em;
} */

.Keyboard-image {
	display: flex;
	margin-bottom: 2em;
}

.white + .d {
	fill: #fed330;
}

.black + .ds {
	fill: #20bf6b;
}

.white + .c {
	fill: #eb4d4b;
}

.black + .cs {
	fill: #fa8231;
}

.white + .e {
	fill: #26de81;
}

.white + .f {
	fill: #0fb9b1;
}

.black + .fs {
	fill: #2d98da;
}

.white + .g {
	fill: #4b7bec;
}

.black + .gs {
	fill: #3867d6;
}

.white + .a {
	fill: #8854d0;
}

.black + .as {
	fill: #a55eea;
}

.white + .b {
	fill: #ff7979;
}

.white {
	fill: #eb4d4b;
}

.black {
	fill: #fa8231;
}
