.Menu {
	display: flex;
	width: 12em;
	user-select: none;
}

.Menu-list {
	display: flex;
	flex-direction: column;
	margin: 1em 0 0 0;
}

.Menu-item {
	display: flex;
	width: 12em;
	height: 1.75em;
	align-items: center;
	margin: 1em 0 0 0.25em;
	color: #bbb;
}

.Menu-item:hover {
	color: white;
	margin: 1em 0 0 0;
	border-left: #fea909 solid 0.25em;
}

.Menu-item--active {
	display: flex;
	width: 12em;
	height: 1.75em;
	align-items: center;
	color: white;
	margin: 1em 0 0 0;
	border-left: #fea909 solid 0.25em;
}

.Menu-title {
	font-weight: 600;
	font-size: 0.9em;
}

.Menu-icon {
	padding: 0.3em 0 0 0;
	margin: 0 1em 0 1em;
}
