.Lights {
	display: flex;
	width: 12em;
	background-color: #353745;
	/* border-left: #b697f3 1px solid; */
}

.Lights-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* color: #282a35; */
	/* width: 40em;
	height: 6em; */
}

.Light {
	display: flex;
	align-items: center;
	/* background-color: aqua; */
}

.Light-icon {
	display: flex;
	justify-content: center;
	/* border-radius: 50%; */
	/* height: 3em; */
}

.Light-name {
	text-align: center;
	font-size: 0.8em;
	color: white;
}

.Lights-title {
	color: white;
}
