.Header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 2.5em;
	-webkit-app-region: drag;
	background-color: #22232c;
}

.Header-login {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 2.5em;
	-webkit-app-region: drag;
	background: url('../../assets/bg.png');
}

.Header-signout {
	display: flex;
	align-items: center;
	margin-right: 1em;
	color: white;
}

.Header-signout:hover {
	color: #fea909;
	cursor: pointer;
}
