.Header {
	display: flex;
	justify-content: space-between;
	height: 3em;
	padding: 1.5em 0 0 0;
	-webkit-app-region: drag;
	background: #22232c;
	/* border-bottom: #b697f3 1px solid; */
}

.Header-keyboard {
	margin: 1em;
}
