.Effects {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.3em;
	margin: 0 1em 1em 1em;
	height: 3em;
	color: white;
	background-color: #191a21;
	user-select: none;
}

.Effects-box {
	font-size: 1em;
	margin: 0 1em 0 1em;
	padding: 0.3em;
	border-radius: 0.3em;
}

.Effects-box:hover {
	background-color: #292b35;
}

.Effects-box--active {
	font-size: 1em;
	margin: 0 1em 0 1em;
	padding: 0.3em;
	border-radius: 0.3em;
	background-color: #292b35;
}

.Effects-box--active:hover {
	background-color: #4e5264;
}
